##for(var i = 0;i < misArr.length;i++){##
   	    	<div class="mis">
            <h3>Add to card</h3>
            <div class="tanwind">
                <span>+</span>
            </div>
    		<img src="{{misArr[i].img}}" alt="">
    		<div class="mis-txt">
    		<h2>{{misArr[i].txt}}</h2>
    			<div class="txt clear">
    				<div class="txt-left">
    					<span class="color-change">Color:</span>
    					<span class="red pubc"></span>
    					<span class="green pubc"></span>
    					<span class="pink pubc"></span>
    					<span class="pubc gray"></span>
    				</div>
    				<div class="txt-right">
    					{{misArr[i].money}}
    				</div>
    			</div>
    		</div>
    	</div>
##}##