.cd-popud{
   position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top:0px;
    background-color: #454d59;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index:9999;
}
.cd-popud .cd-popup-container {
    position: relative;
    width:560px;
    margin:200px auto;
    margin-top: 180px;
    height:290px;
    background: #161d24;
    border-radius: 10px;
    border-top: 0px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 0.3s;
    }
.cd-popud .cd-popup-container .cd-out{
      margin-right: 30px;
  }
.cd-popup-container .cd-out .fot{
        text-align: right;
        margin-right: 30px;
        margin-bottom: 10px; 
  }
.cd-popup-container .cd-out .ent{
        font-weight: bolder;
        font-size: 30px;
        color: #ccd1d9;
      }
.cd-popup-container .cd-out .cd-ipt{
        color: #fff;
      }
.cd-popup-container .cd-out .cd-bon button{
        background-color:   #00AA00;
        outline: none;
        border-color:   #00AA00;
        padding: 2px;   
}
.cd-popup-container .cd-out .cd-btn{
        color: #fff;
        padding: 0px;
        }
 .cd-out .cd-btn .cd-btn-f{
          float: right;
        }
.cd-btn .cd-btn-face{
            margin-left: 10px;
          float: right;
          background-color: #5500FF;
          padding: 1px;  
      }
.cd-btn .cd-btn-face span{
            border-right: 2px solid #2200AA;
            font-size: 20px;
            font-weight: bolder;
            display: inline-block;
            padding:1px;
}
 .cd-popup-container .same{
        color: gray;
        text-decoration: underline;
        cursor: pointer;
}                
.cd-popup-container .cd-popup-close{
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 5px;
    z-index: 10;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: 14px;
    transform: rotate(-45deg);
    background-color: gray;   
}
.cd-popup-container .cd-popup-close:after{
      position: absolute;
      content: "";
      background: #fff;
      border-radius: 2px;
      width: 22px;
      height: 2px;
      left: 0px;
      top:12px;  
}
.cd-popup-container .cd-popup-close:before{
  position: absolute;
  content: '';
  background: #fff;
  border-radius: 2px;
  width: 2px;
  height: 22px;
  left: 10px;
  top: 2px;      
    }
.cd-popud .is-visible {
    opacity: 0.6;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;} 
.cd-popud .is-visible .cd-popup-container {
    transform: scale(1);
}    